* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    position: relative;
}
.fa-magnifying-glass{
    padding: 10px;
}
body{
    background-color: #f7f7f7;
}
.input{
    border: none;
    outline: none;
    color: rgb(235, 235, 235);
    background-color: #f7f7f7;
}
.fa-magnifying-glass{
    color: #606770;
}
.text a{
    text-decoration: none;
    /* border: 1px solid #606770; */
    color: #606770;
}
.text{
    border: 3px solid #606770;
    padding: 5px;
}
.icon a{
    text-decoration: none;
    color: #606770;
    margin: 10px;

}
.icon a:hover{
    color: black;
    background-color: rgb(216, 213, 213);
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 50%;

}
.icon img{
    position: absolute;
    right: 130px;
    bottom: 38px;
}
.icon img:hover{
    box-shadow: 0px 10px 10px #ccc;
}
nav{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}
.nav-middle{
    display: flex;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-middle a{
    margin-left: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #606770;
    font-family:Arial, Helvetica, sans-serif
}
.nav-middle a:hover{
    color: #7411a6;
}
.alone{
    display: flex;
}
.alone2 a{
    color: #610092;
}
.alone .fa-angle-down{
    position: relative;
    top: 5px;
    left: 6px;
     bottom: 25px;
    font-size: 10px;
}
.alone1 .fa-angle-down{
     position: relative;
     /* top: 5px; */
    left: 60px;
    bottom: 20px;
    font-size: 10px;
}
.all{
    position: relative;
    display: flex;
    text-align: center;
    position: relative;
    width: 1260px;
    height: 30px;
    background-color: #f1f1f1;
}
.all h5{
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.inbut-1 button{
    width: 35px;
    height: 35px;
    background-color: white;
    z-index: 10;
    position: relative;
    top: 2px;
    right: 50px;
    margin: 10px;
    border-radius: 2px;
    border: 1px solid #5e0289;
    margin-bottom: 15px;
}
.inbut-1 input{
    
    width: 48px;
    position: relative;
    left: 40px;
    height: 34px;
    outline: none;
}
.inbut-1 a{
    color: black;
    font-size: 20px;
    z-index: 3;
    text-decoration: none;
}
.inbut-1 button:hover{
    background-color: #5e0289;
    box-shadow: 0px 10px 10px #610092;
}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
table, th, td {
    border: 1px solid rgb(181, 181, 181);
    border-collapse: collapse;
  }
table{
    width: 80%;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif
}
th{
    padding: 20px;
}
.fa-square-xmark{
    font-size: 50px;
    color: #8901c7;
    
}
.pho{
    position: relative;
    margin-top: 25px;
    right: 166px;
}
.pho button{
    width: 230px;
    height: 38px;
    background-color: #8901c7;
    border-radius: 4px;
    margin: 10px;
    border: 1px solid white;
}
.pho a{
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.pho button:hover{
    background-color: #5e0289;
    box-shadow: 0px 10px 10px #ccc;
}
.pho1{
    position: relative;
    margin-top: 25px;
    right:150px;
    /* margin-left: 10px; */
}
.pho1 h4{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.pho1 p{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    color: #606770;
}
.pho1 input{
    width: 290px;
    position: relative;
    /* left: 10px; */
    background-color: #f1f1f1;
    height: 30px;
    border-radius: 3px;
    border: 1px solid gray;
    /* margin-left: 15px; */
}
.pho1 button{
    width: 170px;
    height: 35px;
    background-color: #8901c7;
    border-radius: 4px;
    margin-left: 10px;
    border: 1px solid white;
}
.pho1 a{
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.pho1 button:hover{
    background-color: #5e0289;
    box-shadow: 0px 10px 10px #ccc;
}
.total{
    position: relative;
    /* right: 156px; */
    /* margin-left: 165px; */
    
}
.total h4{
    position: relative;
    left: 190px;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 30px;
}
.total1{
    position: relative;
    margin-left: 110px;
    left: 40px;
}
.total2{
    position: relative;
    bottom: 50px;
    left: 280px;
    margin-left: 20px;
   
}
.total2 p{
    margin-bottom: 10px; 
} 
.total1 p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    color: #0e0f10; 
}
.total button{
    width: 200px;
    height: 35px;
    background-color: #8901c7;
    border-radius: 4px;
    /* margin-left: 10px; */
    border: 1px solid white;
    position: relative;
    bottom: 40px;
    left: 150px;
}
.total button:hover{
    background-color: #5e0289;
    box-shadow: 0px 10px 10px #ccc;
}
.total a{
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.total hr{
    width: 200px;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 150px;
}
.secaall{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 100px;
}
.foot{
    margin: 40px;
    margin-bottom: 120px;
    font-family: Arial, Helvetica, sans-serif;
}
.foot p{
    margin-bottom: 15px;
    color: #606770;
}
.foot5 h2{
    position: relative;
    bottom: 70px;
    /* margin-bottom: 40px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.foot5 p{
    position: relative;
    bottom: 48px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #606770;
}
.foot1{
    position: relative;
}
.foot1 img{
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}
.foot1 h5{
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.foot1 h4{
    margin-bottom: 9px;
    font-family: Arial, Helvetica, sans-serif;
}
.foot1 p{
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.foot2{
    margin-left: 50px;
}
.foot2 h4{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}
.fooot{
    display: flex;
}
.fooot p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-bottom: 10px;
}
.foot2 button{
position: absolute;
right: 175px;
/* bottom: 130px; */
background-color: #7411a6;
border-radius: 5px;
width: 77px;
height: 40px;
border: 1px solid #7411a6;
color: white;
font-family: Arial, Helvetica, sans-serif;

}
.foot2 button:hover{
    background-color: #4a0d69;
    box-shadow: 0px 10px 10px #520c75;
}
.foot2 input{
    width: 170px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 197);
}
.fa-location-dot{
    color: #620c8e;
}
.fa-phone{
    color: #620c8e;
}.fa-envelope{
    color: #620c8e;
}.fa-location-dot{
    color: #620c8e;
}
.hh{
    margin-top: 20px;
    padding-bottom: 50px;
}
